<section class="card-user-container">
    <div class="card-user">
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <h5 id="userID">User ID: {{user._id}}</h5>
    <p>Email: {{user.email}}</p>
    <p>Age: {{user.age}}</p>
    <p>Role: {{user.role}}</p>

    <button id="psw-reset">Reset Password</button>
    <button id="change-role">Cambiar Role</button>
    </div>
</section>
<script src="../js/pswrst.js"></script>