<section class="profile-container">
   <div class="profile">
    <img class="profile-img" src="/img/generic.png" alt="">
    <div class="profile-info">
        <h3>¡Bienvenido {{user.first_name}} {{user.last_name}}!</h3>
        <p>Tu mail registrado es: {{user.email}}</p>
        <p>Tenes {{user.age}} años</p>
        <p>Rol: {{user.role}}</p>        
    </div>
   </div>
</section>
