<div class="cardsContainer" id="productos">
    {{#each result}}
    <div class="card">
        <ul>
            <li class="title">{{this.title}}</li>
            <li class="description">Color:{{payload.color}} marca:{{this.payload.brand}}</li>
            <li class="price">${{this.payload.price}}</li>
            <li class="stock">Stock:{{this.payload.stock}}</li>
            <li class="code">Código:{{this.payload.code}} / id: {{this.payload._id}}</li>
        </ul>
        <button>Agregar</button>
    </div>
    {{/each}}
</div>
<script src="socket.io/socket.io.js"></script>
<script src="js/index.js"></script>